* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;

}

.main{
  nav-left: 100px;
  background-color: #eee;
  padding: 5px;
  padding-left: 100px;
}

.side{
  position: fixed;
  left: 0;
  padding-left: 10px;
}

/* Style the header */
header {
  background-color: #999;
  padding: 4px;
  text-align: center;
  font-size: 30px;
  color: white;
  min-width: 100%;
  top: 0;
}



/* Style the footer */
footer {
  background-color: #777;
  text-align: center;
  color: white;
  position:fixed;
  bottom: 0;
  height: 40px;
  min-width:100%;
}